<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.legend.overmusic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".utils.OverApplication"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/OverMusicTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.BaseActivity" />

        <service
            android:name=".service.PlayService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.PlayingActivity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".activity.ColorActivity"
            android:screenOrientation="portrait">

        </activity>

        <receiver
            android:name=".broadcast.NoisyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="com.android.deskclock.ALARM_ALERT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcast.MediaButtonReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>

            </intent-filter>

        </receiver>

        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>